body {
  background-color: rgb(46, 197, 53);
}

.wrap {
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.scorebar {
  float: right;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 200%;
  display: inline-block;
}

button {
  float: left;
  padding: 2% 4%;
  margin-top: 6%;
  margin-left: 6%;
  border-radius: 12px;
  font-size: 16px;
  background-color: rgb(85, 85, 85);
  border: 2px solid rgb(34, 34, 34);
  color: white;
}

.square {
  display: grid;
  padding: 15px 15px; 
}

.mole, .hole{
  grid-column: 1;
  grid-row: 1;
} 

.mole {
  visibility: hidden;
  padding: 60px;
  background: url('http://www.scalsys.com/1pngs/mole-png/mole_png_889355.png');
  background-repeat: no-repeat;
  background-position: center top; 
  background-position-y: -0.5em;
  background-size: 110%;
  top: 20px;
}

.hole {
  background-image: url('http://www.sclance.com/pngs/dirt-pile-png/dirt_pile_png_393244.png');
  background-repeat: no-repeat;
  background-position: center bottom; 
  background-size: 100%;
  position: relative;
  margin-top: 64%;
}